


<div class="navbarone">
<div class="firstbox c-1"></div>

<div class="middle">
<div class="logo c-2"></div>
    <div class="mainmiddle c-1">

<a class="item" id="signin" href="/signin">sign in</a>
<a class="item" id="signup" href="/signup">sign up</a>
<a class="item" id="lang" href="">en/gr</a>
    </div>
</div>

<div class="lastbox c-1"></div>
</div>


<div class="navbar-wrapper mt-2 c-1">
<div class="mynavbar">
    <a class="item" id="home" href="/">
      Home
    </a>
    <a class="item" id="landmarks" href="/Landmarks">
      Landmarks
    </a>
    <a class="item" id="beaches" href="/beaches">
      Beaches
    </a>
    <a class="item" id="food" href="/FoodFun">
      Food/Fun
    </a>
    <a class="item" id="hotels" href="/Hotels">
Hotels
    </a>
    <a class="item" id="events"  href="/Events">
Events
    </a>
    <a class="item" id="contactus" href="/ContactUs">
Contact Us
    </a>
  </div>
</div>

