<div class="navbarone">
  <div class="firstbox bg-pink"></div>

  <div class="middle bg-pink">
    <div class="logo bg-yellow"></div>
    <div class="mainmiddle bg-pink">

      {{#if _isLogedIn}}
        <a class="item c-white" id="logout" href="/logout">log out</a>
      {{else}}
        <a class="item c-white" id="signin" href="/signin">sign in</a>
        <a class="item c-white" id="signup" href="/signup">sign up</a>
      {{/if}}

      <a class="item" id="lang" href="">en/gr</a>
    </div>
  </div>

  <div class="lastbox bg-pink"></div>
</div>

<div class="navbar-wrapper mt-2 bg-pink">
  <div class="mynavbar">
    <a class="item c-white" id="home" href="/">
      Home
    </a>
    <a class="item c-white" id="landmarks" href="/Landmarks">
      Landmarks
    </a>
    <a class="item c-white" id="beaches" href="/beaches">
      Beaches
    </a>
    <a class="item c-white" id="food" href="/FoodFun">
      Food/Fun
    </a>
    <a class="item c-white" id="hotels" href="/Hotels">
      Hotels
    </a>
    <a class="item c-white" id="events" href="/Events">
      Events
    </a>
    <a class="item c-white" id="contactus" href="/ContactUs">
      Contact Us
    </a>
  </div>
</div>