.c-1{
 background-color: #B2A4FF !important;
}
.c-2{
    background-color: #FFB4B4 !important;
    
}
.c-3{
    background-color: #FFDEB4 !important;
    
}
.c-4{
    background-color: #FDF7C3 !important;

}