<form class="post-add">

  <label for="img-url">Image Url</label>
  <input
    type="text"
    id="img-url-input"
    name="img-url"
    placeholder="Give image url"
    value="https://cdn.mos.cms.futurecdn.net/wtqqnkYDYi2ifsWZVW2MT4-320-80.jpg"
    maxlength="255"
  />
  <label for="title">Post Title</label>
  <input
    type="text"
    id="title-input"
    name="title"
    placeholder="Kolona"
    value="Kolona"
  />

  <label for="organized">Is organized</label>
  <input
    type="text"
    id="organized-input"
    name="organized"
    placeholder="Organized"
    value="Organized"
  />

  <label for="organized">Direction of the Beach</label>
  <input
    type="text"
    id="direction-input"
    name="direction"
    placeholder="West of the island"
    value="West of the island"
  />

  <label for="organized">Location of the Beach</label>
  <input
    type="text"
    id="location-input"
    name="location"
    placeholder="In the center of Aegina"
    value="In the center of Aegina"
  />

  <label for="organized">Beach description</label>
  <input
    type="text"
    id="description-input"
    name="description"
    placeholder="Give description"
    value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
  />

  <button
    id="post-add-button"
    type="submit"
    class="post-add-button"
  >Προσθήκη</button>
</form>

<div>
  <h2 class="result-content-section-title">Result</h2>

  <div class="beach-item">

    <img src="" alt="beach photo" class="image" />

    <div class="text-wrapper">
      <div class="card-top-part-wrapper">
        <div class="title"></div>
        <div class="location-icon"></div>
      </div>
      <div class="card-middle-part-wrapper">
        <div class="organized"></div>
        <div class="direction"></div>
      </div>

      <div class="location"></div>
    </div>

  </div>

  <h2 class="inner-content-section-title"> Inner content</h2>

  <div id="post-id"></div>
  <h1 class="title"></h1>
  <img class="beach-img" src="" alt="image of the beach" />
  <div class="discription"></div>

  <div class="info">
    <div class="organized"></div>
    <div class="location"></div>
  </div>

  <div id="map"></div>

</div>