<div>
    <div class="section">
    <div class="island-photo"></div>
    <div class="description">
        
        <h2>Αίγινα</h2>
        <h4>μία ανάσα απο την αθήνα</h4>
        <p>Ευκαιρία να λυθεί μια “παρεξήγηση” χρόνων: η Αίγινα δεν αποτελεί την εύκολη απόδραση για τη φυλή των Αθηναίων, ένα μπανάκι και λίγο τσίμπημα, αλλά ένα νησί που αξίζει να του αφιερώσεις μπόλικο χρόνο για να το ανακαλύψεις.</p>
    </div>
    </div>

    <div class="history">
        <h2>Ιστορία</h2>
        <p>Από που πήρε το όνομά του το νησί;</p>
        <p>Σύμφωνα με τη μυθολογία η «Αίγινα» ήταν η κόρη του Αισώπου, την οποία ερωτεύτηκε ο Δίας και την απήγαγε στο νησί Οινώνη, που αργότερα μετονομάστηκε σε Αίγινα.</p>
        <p>Από τη μυθολογία, περνάμε στα αρχαία χρόνια και πιο συγκεκριμένα στην αρχαϊκή εποχή. Το νησί αποκτά μεγάλη εμπορική και ναυτική δύναμη, βασισμένη στην εξαγωγή πήλινων αγγείων και αρωμάτων εγχώριας παραγωγής. Αξιοσημείωτο φυσικά είναι ότι τα πρώτα ασημένια νομίσματα στον ελλαδικό χώρο κόπηκαν από τους Αιγινήτες. Έντονη επίσης υπήρξε η συμμετοχή της Αίγινας στους Περσικούς πολέμους καθώς και στον Πελοποννησιακό.</p>
        <p>Υπήρξε επίσης και η «φωλιά των πειρατών» κατά τον 12ο αιώνα, αφού έγινε ορμητήριο των πειρατών, κυρίως για τις επιθέσεις προς την Αττική. Δε δίστασαν να τρομοκρατήσουν τους κατοίκους του νησιού και να αρπάξουν υλικά αγαθά, ζώα, ανθρώπους για σκλάβους ή για λύτρα, και βεβαίως να σκοτώσουν πολλούς κατοίκους με βασανιστήρια ή ακρωτηριασμούς​.</p>

        <h3>Βυζαντινή Εποχή</h3>
        <p>Την περίοδο της Βυζαντινής εποχής, υπήρξε έντονη όπως ήταν φυσικό η βαθιά πίστη στον Χριστό (ορθόδοξος χριστιανισμός). Ένα από τα σημαντικά γεγονότα που άφησε εκείνη η εποχή, είναι η δημιουργία του «Μυστρά της Αίγινας», δηλαδή πολλών μικρών εκκλησιών, μάλλον 365, εκ των οποίων οι 40 σώζονται μέχρι σήμερα στο λόφο απέναντι από τον Αγ. Νεκτάριο, στην περιοχή της Παλαιάς Χώρας.</p>

        <h3>Επανάσταση</h3>
        <p>Η επανάσταση του 1821 σημάδεψε την ιστορία του νησιού κυρίως σε δημογραφικό επίπεδο. Χιλιάδες κάτοικοι της Στερεάς Ελλάδας εγκαταστάθηκαν στο νησί στη διάρκεια του πολέμου, στον οποίο βέβαια συμμετείχαν και 400 Αιγινήτες. Μετά το τέλος του πολέμου, 1826-1827 η Ελληνική κυβέρνηση εγκαθίσταται στο νησί. Το 1828 η Αίγινα κηρύσσεται η 1η πρωτεύουσα του ελληνικού κράτους, ως το 1829 με κυβερνήτη τον Ιωάννη Καποδίστρια.</p>
        <p>Το νησί τότε διανύει μια από τις πιο δυναμικές του περιόδους. Με πρωτοβουλία του Καποδίστρια χτίζεται το Ορφανοτροφείο, το οποίο περιλάμβανε το αλληλοδιδακτικό σχολείο και το εθνικό τυπογραφείο. Αποφασίζει επίσης και τη δημιουργία αρχαιολογικού μουσείου καθώς και την ίδρυση της 1ης βιβλιοθήκης της χώρας, η οποία στεγαζόταν στο Κυβερνείο. Με τους πρόσφυγες που είχαν εγκατασταθεί κατά τη διάρκεια της επανάστασης και όσους εγκαταστάθηκαν μόνιμα στο νησί επί κυβερνείας Καποδίστρια, το νησί έφτασε τους 40.000 κατοίκους. Οι αριθμοί αυτοί δεν κράτησαν για πολύ. Μετά το 1829, που η Αίγινα δεν αποτελούσε πια πρωτεύουσα της Ελλάδος, ο πληθυσμός μειώθηκε κατά 50%.</p>
        <p>Ο πληθυσμός της Αίγινας βέβαια αυξήθηκε ξανά, αυτή τη φορά από πρόσφυγες Έλληνες που ζούσαν στη Μ. Ασία και αναγκάστηκαν να εγκαταλείψουν τα σπίτια τους κατά τη διάρκεια της Μικρασιατικής καταστροφής αλλά και αργότερα, αφού πια είχαν χάσει τα πάντα..</p>
        
        <h3>Νεότερα Χρόνια</h3>
        <p>Φτάσαμε λοιπόν στο 1936, τη χρονιά που ο Ιωάννης Μεταξάς κατέλυσε το δημοκρατικό πολίτευμα και επέβαλε το δικτατορικό καθεστώς. Τότε δημιουργήθηκαν στο νησί δύο από τα πέντε «Ναυτικά Οχυρά Σαρωνικού», στις περιοχές του Τούρλου και της Πέρδικας. Στον Β’ Παγκόσμιο Πόλεμο η Αίγινα δέχτηκε βομβαρδισμούς από γερμανικά στρατεύματα (Απρίλιος 1941).</p>
        <p>Μετά το τέλος του Β’ Παγκοσμίου πολέμου το νησί όπως και η υπόλοιπη Ελλάδα άρχισε να μπαίνει σε ρυθμούς ομαλής και ήρεμης ζωής, με κύριες ασχολίες την αλιεία, τη φροντίδα και το μάζεμα των φιστικιών.</p>

    </div>

</div>