<form class="login-form" action="/registeruser" method="post">
  <legend>Sign Up</legend>

  <table>
    <tr>
      <td>

        <label for="username">Username</label>
      </td>
      <td>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Username"
        />

      </td>
    </tr>
    <tr>

      <td>
        <label for="password">Password</label>

      </td>
      <td>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />

      </td>

    </tr>
    <tr>

      <td>
        <label for="re-password">Password</label>

      </td>
      <td>
        <input
          type="password"
          name="re-password"
          id="re-password"
          placeholder="Password"
        />

      </td>

    </tr>
  </table>

  <input type="submit" value="Sign Up" />

</form>